prm-topbar .top-nav-bar {
  background-color: #46535E; }

prm-search-bar {
  background-color: black; }

/**
This file contains styles from other developers
 */
/*Uncomment the following lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
*/
/* View Main Menu on the services page / openURL page */
prm-main-menu.isServicePage {
  display: block !important; }

/* Hide WorldCat scopes from basic search */
md-option[value="WorldCat"] {
  display: none; }

ul.md-autocomplete-suggestions li:nth-child(4) {
  display: none; }

/* re-order full record display elements */
.full-view-inner-container {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column; }

/*re-order the Center Sections */
#getit_link1_0 {
  order: 0; }

#getit_link2_0 {
  order: 1; }

#links {
  order: 2; }

#details {
  order: 3; }

#action_list {
  order: 4; }

#virtualBrowse {
  order: 5; }

#citationTrails {
  order: 6; }

/*re-order the Left Navigation on the Detailed Page */
[aria-label="Online Access"] {
  order: 0 !important; }

[aria-label="In the library"] {
  order: 1 !important; }

[aria-label="Links"] {
  order: 2 !important; }

[aria-label="Details"] {
  order: 3 !important; }

[aria-label="Send to"] {
  order: 4 !important; }

[aria-label="Virtual Browse"] {
  order: 5 !important; }

[aria-label="Citations"] {
  order: 6 !important; }

/* Hide RefWorks in user menu */
.my-refworks-ctm {
  display: none; }

.my-refworks-separator-ctm {
  display: none; }

.s-lch-widget-float-btn {
  right: 62px !important; }

button.s-lch-widget-float-btn.online.s-lch-widget-img-btn {
  background-color: transparent;
  box-shadow: none; }

#iframe_e3cba83ef74e8285af62ba3fb7e93af6 {
  max-height: 400px; }

/* UC Library Search Logo */
/* hide the logo on x-small screens */
.uc-library-search-logo {
  display: none; }

/* no hover effect */
.uc-library-search-logo button {
  background: transparent !important; }

@media (min-width: 970px) {
  .search-wrapper {
    margin-left: 20%; }
  .search-wrapper .flex-lg-10 {
    display: none; }
  .search-wrapper .flex-lg-65 {
    max-width: 80%; }
  .uc-library-search-logo {
    display: block;
    width: 20%;
    text-align: center;
    top: 30px;
    position: absolute; }
  .uc-library-search-logo button {
    margin-top: 0; }
  .uc-library-search-logo img {
    width: 70%;
    max-width: 300px; } }

@media (min-width: 1300px) {
  .uc-library-search-logo {
    top: 1.5em; } }
