/* Adobe Typekit */
@import url("https://use.typekit.net/ooq8hdx.css");

/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
*/


/* Hide WorldCat scopes from basic search */
md-option[value="WorldCat"] {
    display: none;
}

ul.md-autocomplete-suggestions li:nth-child(4) {
    display: none;
}

/* re-order full record display elements */
.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

/*re-order the Center Sections */
#getit_link1_0 {
    order: 0;
}

#getit_link2_0 {
    order: 1;
}

#links {
    order: 2;
}

#details {
    order: 3;
}

#action_list {
    order: 4;
}

#virtualBrowse {
    order: 5;
}

#citationTrails {
    order: 6;
}


/*re-order the Left Navigation on the Detailed Page */
[aria-label="Online Access"] {
    order: 0 !important;
}

[aria-label="In the library"] {
    order: 1 !important;
}

[aria-label="Links"] {
    order: 2 !important;
}

[aria-label="Details"] {
    order: 3 !important;
}

[aria-label="Send to"] {
    order: 4 !important;
}

[aria-label="Virtual Browse"] {
    order: 5 !important;
}

[aria-label="Citations"] {
    order: 6 !important;
}


/* Hide RefWorks in user menu */

.my-refworks-ctm {
    display: none;
}

.my-refworks-separator-ctm {
    display: none;
}

/* Match new official Library styles */

body {
    background: #fff;
    color: #000;
    font-family: freight-sans-pro, Helvetica, sans-serif;
    overflow: auto !important;
}

.top-nav-bar.layout-row,
prm-search-bar {
    background-color: white;
}

/* Nav menu link colors */
a.zero-margin.flex-button.multi-line-button.button-over-dark.md-button.md-primoExplore-theme.md-ink-ripple.layout-align-center-center.layout-column {
    color: black;
    box-shadow: none;
}

prm-topbar .md-icon-button {
    background-color: black;
    color: white !important;
}

prm-topbar .md-icon-button:hover, prm-topbar .md-icon-button:focus {
    background-color: #fdb515 !important;
    box-shadow: none;
    color: black !important;
}

.user-button.sign-in-btn-ctm, .md-button.button-with-menu-arrow {
    color: black !important;
}

.user-button.sign-in-btn-ctm:hover, .md-button.button-with-menu-arrow:hover,
.user-button.sign-in-btn-ctm:focus, .md-button.button-with-menu-arrow:focus {
    background-color: #fdb515 !important;
}

prm-main-menu .buttons-group .md-button {
    box-shadow: none;
    color: black !important;
}

prm-main-menu .buttons-group a:hover, prm-main-menu .buttons-group a:focus,
prm-main-menu button:hover, prm-main-menu button:focus {
    box-shadow: inset 0 -4px 0 #fdb515 !important;
}


.search-elements-wrapper button md-icon svg {
    color: black;
}


.search-elements-wrapper button:hover,
.search-elements-wrapper button:focus {
    background-color: black;
}

.search-elements-wrapper button:hover md-icon svg,
.search-elements-wrapper button:focus md-icon svg{
    color: #fdb515;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple  {
    color: black;
    transition: background-color 0.25s ease-in-out;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced:hover,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple:hover,
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced:focus,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple:focus {
    color: black !important;
    background-color: #fdb515 !important;
}

prm-search-bar .search-element-inner .md-button:hover,
prm-search-bar .search-element-inner .md-button:focus  {
    background-color: black !important;
}

/* Content boxes */
md-card.default-card {
    background-color: white;
    box-shadow: none;
}

/* Search bar */
.simple-search-wrapper.layout-full-width {
    box-shadow: none !important;
    border: 1px solid #aba8a8;
}

/* Content links */
md-content.main a {
    color: #000;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 #fdb515;
    transition: background-color 0.25s ease-in-out;
}

md-content.main a:hover,
md-content.main a:focus {
    background-color: #fdb515;
}

md-content.main prm-search-result-list a {
    box-shadow: none;
    transition: box-shadow 0.25s ease-in-out;
}

md-content.main prm-search-result-list a:hover,
md-content.main prm-search-result-list a:focus {
    background-color: transparent;
    box-shadow: inset 0 -2px 0 #fdb515;
}

md-toolbar.md-toolbar-tools.results-title {
    background-color: white;
    border-bottom: 1px solid #aba8a8;
}

.bar.alert-bar.layout-row {
    background: #46535E;
    color: white;
    border: none;
}

.bar.alert-bar .md-button {
    color: #fdb515;
}

.bar.alert-bar .md-button:hover,
.bar.alert-bar .md-button:focus {
    color: #46535E;
    background: #46535E;
}

/* Search results */

.md-button.button-as-link.link-alt-color {
    color: black;
}

prm-search-result-tool-bar md-toolbar .button-as-link.link-alt-color:hover {
    background-color: #fdb515 !important;
    color: black !important;
}
#searchResultsContainer .list-item-wrapper {
    background-color: white;
}

#searchResultsContainer .md-button {
    color: black;
}

#searchResultsContainer .md-button:hover,
#searchResultsContainer .md-button:focus {
    background-color: #fdb515;
}
#searchResultsContainer .md-button:hover span,
#searchResultsContainer .md-button:focus span {
    box-shadow: none;
}

#searchResultsContainer .md-nav-item .md-button:hover,
#searchResultsContainer .md-nav-item .md-button:focus {
    background-color: white;
}

prm-brief-result .item-title span {
    color: black;
}

#searchResultsContainer mark {
    box-shadow: none;
    background-color: #fdb515;
}

#searchResultsContainer .md-button span {
    color: black;
}

.multiselect-submit .multiselect-submit-inner .md-button.md-primary, .prm-positive-bg {
    background-color: black;
}

#facets > *, #facets md-icon {
    color: black !important;
}

#facets .section-content .md-chips .md-chip .facet-title:hover,
#facets .section-content .md-chips .md-chip .facet-title:focus {
    background-color: transparent;
    box-shadow: inset 0 -2px 0 #fdb515;
    color: black;
}

.section-title.md-button:hover span,
.section-title.md-button:focus span {
    color: black !important;
}

/*prm-icon md-icon, prm-icon md-icon.md-primoExplore-theme {*/
/*    color: black !important;*/
/*}*/

/* Advanced Search page */

.advanced-search-backdrop.visible {
    background-color: white;
}

.search-elements-wrapper .advanced-search-tabs {
    background-color: white;
    border: none;
}

prm-search-bar .advanced-search-output md-card {
    background-color: white;
    border: none;
}

md-radio-button.md-checked .md-on {
    background-color: black;
}
md-radio-button.md-checked .md-off {
    border-color: black !important;
}

.md-button.md-primary, .md-button.button-with-icon {
    color: black;
}

.md-button.md-primary:hover md-icon svg, .md-button.button-with-icon:hover md-icon svg,
.md-button.md-primary:focus md-icon svg, .md-button.button-with-icon:focus md-icon svg {
    fill: black !important;
    color: black !important;
}

.md-button.md-primary:hover, .md-button.button-with-icon:hover,
.md-button.md-primary:focus, .md-button.button-with-icon:focus {
    background-color: #fdb515 !important;
    color: black !important;
}

.multiselect-submit.is-active .md-button {
    color: white !important;
    background-color: black !important;
}

.multiselect-submit.is-active .md-button:hover,
.multiselect-submit.is-active .md-button:focus{
    color: black !important;
    background-color: #fdb515 !important;
}

/*.multiselect-submit-inner .md-button {*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/

/* Single listing */

.md-dialog-container md-dialog, .md-dialog-container .full-view-inner-container {
    background-color: white;
}
.md-dialog-container.fixed-container {
    background-color: #46535E;
}

.md-dialog-container .md-button.button-link {
    color: black;
}

.md-dialog-container .md-button.button-link:hover,
.md-dialog-container .md-button.button-link:focus {
    color: black;
    background-color: #fdb515;
}

.search-result-availability-line-wrapper .md-button span {
    color: black;
}

/* Ask a librarian */
.s-lch-widget-float-btn.online {
    background-color: black !important;
}
#s-lch-autoload-profile .s-lch-profile, #s-lch-autoload-profile .s-lch-profile-name {
    color: black !important;
}

a.transparent-card:hover, a.transparent-card:focus {
    box-shadow: inset 0 -4px 0 #fdb515 !important;
}

prm-main-menu[menu-type=full] a:hover span,
prm-main-menu[menu-type=full] a:focus span{
    color: black !important;
}

a.transparent-card span {
    color: black !important;
}

button#mainMenuFullCloseButton {
    background-color: black;
}

button#mainMenuFullCloseButton:hover,
button#mainMenuFullCloseButton:focus
{
    box-shadow:none;
    background-color: #fdb515;
    color: black;
}

/* Sign in screen */
md-dialog.light-on-dark-dialog {
    background-color: white !important;
    color: black !important;
}

md-dialog.light-on-dark-dialog .md-button {
    color: black !important;
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button {
    /*color: black !important;*/
    background-color: transparent !important;
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button:hover,
md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button:focus {
    box-shadow: inset 0 -4px 0 #fdb515 !important;
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button:hover {
    color: black !important;
    box-shadow: inset 0 -4px 0 #fdb515 !important;
}




/*a.transparent-card:hover span {*/
/*    color: black !important;*/
/*}*/

/* More search options page */


/*a:not(.organization-logo) :not(.md-icon-button) :not(.md-button) {*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    box-shadow: inset 0 -4px 0 #fdb515*/
/*}*/

/*a:not(.organization-logo) :not(.md-icon-button) :not(.md-button):hover {*/
/*    background: #fdb515*/
/*}*/