prm-topbar .top-nav-bar {
  background-color: #46535E; }

prm-search-bar,
prm-atoz-search-bar,
prm-browse-search-bar {
  background-color: black; }

/**
This file contains styles from other developers
 */
/*Uncomment the following lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
*/
/* View Main Menu on the services page / openURL page */
prm-main-menu.isServicePage {
  display: block !important; }

/* Hide WorldCat scopes from basic search */
md-option[value="WorldCat"] {
  display: none; }

/* Hide WordCat autocomplete option */
ul.md-autocomplete-suggestions li:nth-child(3) {
  display: none; }

/* re-order full record display elements */
.full-view-inner-container {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column; }

/*re-order the Center Sections */
#getit_link1_0 {
  order: 0; }

#getit_link2_0 {
  order: 1; }

#links {
  order: 2; }

#details {
  order: 3; }

#action_list {
  order: 4; }

#virtualBrowse {
  order: 5; }

#citationTrails {
  order: 6; }

/*re-order the Left Navigation on the Detailed Page */
[aria-label="Online Access"] {
  order: 0 !important; }

[aria-label="In the library"] {
  order: 1 !important; }

[aria-label="Links"] {
  order: 2 !important; }

[aria-label="Details"] {
  order: 3 !important; }

[aria-label="Send to"] {
  order: 4 !important; }

[aria-label="Virtual Browse"] {
  order: 5 !important; }

[aria-label="Citations"] {
  order: 6 !important; }

/* Hide RefWorks in user menu */
.my-refworks-ctm {
  display: none; }

.my-refworks-separator-ctm {
  display: none; }

.s-lch-widget-float {
  padding: 0 !important;
}

.s-lch-widget-float-btn.s-lch-widget-img-btn, .s-lch-widget-float-btn img {
  padding: 0;
  max-width: 120px !important;
  /*height: auto !important;*/
  right: 88px;
  box-shadow: none;
  border-radius: 0;
}

/*button.s-lch-widget-float-btn.online.s-lch-widget-img-btn {*/
/*  background-color: transparent;*/
/*  box-shadow: none; }*/

#iframe_e3cba83ef74e8285af62ba3fb7e93af6 {
  max-height: 400px; }

/* UC Library Search Logo */
/* hide the logo on x-small screens */
.uc-library-search-logo {
  display: none; }

/* no hover effect */
.uc-library-search-logo button {
  background: transparent !important; }

@media (min-width: 970px) {
  .search-wrapper {
    margin-left: 20%; }
  .search-wrapper .flex-lg-10 {
    display: none; }
  .search-wrapper .flex-lg-65 {
    max-width: 80%; }
  .uc-library-search-logo {
    display: block;
    width: 20%;
    text-align: center;
    top: 30px;
    position: absolute; }
    .uc-library-search-logo button {
      margin-top: 0; }
    .uc-library-search-logo svg#Layer_1 {
      top: 8px;
      position: relative;
      width: 100%;
      right: 10px; } }

@media (min-width: 1300px) {
  .uc-library-search-logo {
    top: 1.5em; }
    .uc-library-search-logo svg#Layer_1 {
      top: 14px; } }

/* External search: worldcat */
div[data-facet-group="External Search"] h3 {
  display: none; }

#external-search img {
  float: left;
  margin-right: 8px; }

#external-search a {
  font-weight: bold; }

#external-search span {
  display: block;
  color: #3a3a3a; }

/* Black background on advanced search bar */
prm-atoz-search-bar .advanced-search-backdrop, prm-browse-search-bar .advanced-search-backdrop, prm-newspapers-search-bar .advanced-search-backdrop, prm-search-bar .advanced-search-backdrop, prm-tags-search-bar .advanced-search-backdrop {
  background-color: black;
}

prm-atoz-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-browse-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-newspapers-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-tags-search-bar .search-switch-buttons .md-button.switch-to-simple {
  color: white;
}

/* Footer */
#custom-footer {
  /*background-color: #46535E;*/
  padding: 1em;
  text-align: center;
  margin-top: 4em;
}

#footer-links {
  margin-bottom: 1em;
}

#footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

#footer-links li {
  margin-bottom: 0.5em;
}

#footer-links a,
#footer-links a:link,
#footer-links a:visited {
  color: #3a3a3a;
}

#footer-links a:hover,
#footer-links a:active {
  box-shadow: none;
  color: #3a3a3a;
  border-bottom: 1px dotted #3a3a3a;

}

#footer-logo a:hover,
#footer-logo a:active {
  box-shadow: none;
}

@media only screen and
(min-width: 600px) {
  #footer-links ul {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  #footer-links ul li {
    margin: 0 0.5em;
  }

  #footer-links ul li:after {
    content: "|";
    margin-left: 1em;
  }

  #footer-links ul li:last-child:after {
    content: "";
    margin-left: 0;
  }
}

/* Alert bar */
#primo-alert-bar {
  background: #FDB515;
  color: black;
  width: 100%;
  font-size: 14pt;
  text-align: center;
}

#primo-alert-bar p {
  padding: 0.5em 0;
  margin-bottom: 0;
}

#primo-alert-bar a,
#primo-alert-bar a:link,
#primo-alert-bar a:visited {
  color: black;
  border-bottom: 1px dotted black;
}

#primo-alert-bar a:hover,
#primo-alert-bar a:active {
  border-bottom: 1px solid black;
  box-shadow: none;
}

/* Login Screen */
prm-stand-alone-login md-card-content {
  padding: 50px 20px!important;
}
prm-stand-alone-login > div {
  background: #46535E;
}

prm-stand-alone-login h3 {
  color: black !important;
}

prm-stand-alone-login .md-button:focus:not([disabled]),
prm-stand-alone-login .md-button:hover:not([disabled]) {
  color: black !important;
}

prm-stand-alone-login .dialog-inputs:hover {
  /*background-color: #46535E;*/
  /*color: white;*/
}

prm-stand-alone-login md-input-container:hover label,
prm-stand-alone-login button.md-button.button-as-link:hover,
prm-stand-alone-login button.md-button.button-as-link:focus,
prm-stand-alone-login button.md-button.button-confirm:hover,
prm-stand-alone-login button.md-button.button-confirm:focus,
prm-stand-alone-login button.md-button.md-icon-button:hover,
prm-stand-alone-login button.md-button.md-icon-button:focus {
  text-decoration: 1px solid black;
  background: #46535E !important;
  color: white !important;
}

prm-stand-alone-login md-input-container.md-input-focused:hover label {
  background: none;
  color: inherit;
}

/* Added 4/21/22 */
/* Removed 6/22/22 to allow for collapsing advanced search fields */

/*#advancedSearchTabs {*/
/*  min-height: 700px;*/
/*  overflow: auto;*/
/*}*/

/*@media (min-width: 600px) {*/
/*  #advancedSearchTabs {*/
/*    min-height: 400px;*/
/*  }*/
/*}*/

/*.string-block .animate-scale .middle {*/
/*  display: none;*/
/*}*/

/*.collapsed-area .layout-wrap .layout-align-space-between-center .layout-row {*/
/*  display: none;*/
/*}*/

/*prm-advanced-search * > button.collapsed-button * > md-icon {*/
/*  display: none;*/
/*}*/

/* Fix ExLibris disappearing search input field issue */
/*prm-search-bar .advanced-search-wrapper md-input-container.bold-text input.ng-hide:not(.ng-hide-animate) {*/
/*  display: block !important;*/
/*}*/

/* The following three entries support the Primo VE HathiTrust Availability Add-On */

span.umnHathiTrustLink {
  margin-left: -5px;
}

span.umnHathiTrustLink md-icon svg {
  height: 1.2em;
  filter: grayscale(0%);
}

span.umnHathiTrustLink:hover md-icon svg {
  filter: grayscale(0%);
}

@media only screen and (max-width: 600px) {
  .ucls-home-page-column {
    max-width: 90% !important;
  }
}

/* Sign-in bar*/

.bar.alert-bar {
  background: #FDB515;
  border-color: #FDB515;
}

.bar prm-authentication .md-button {
  color: black;
}

.bar prm-authentication .md-button:hover:not([disabled]) {
  background-color: black;
}

.md-button {
  color: black;
}

span[translate='nui.message.dismiss'] {
  text-transform: capitalize;
}

/* Stop long titles from overlapping in search suggestions */
md-autocomplete-parent-scope {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hide last bullet point on no-results page */
prm-no-search-result ul li:nth-child(5) {
  display: none;
}

/* Change the text color on the digital copy request form to black */
.service-form .checkbox-warning-message {
  color: black;
}

/* Make digital copy request input field look more like an input field */
form[name='requestForm'] input[type='text'] {
  border: 1px solid #706a6a;
  width: 315px;
}

form[name='requestForm'] label[translate='almaDigitization.comment'] {
  padding-left: 11px;
}