<div ng-if="name === 'External Search'">
     <div ng-hide="$ctrl.parentCtrl.facetGroup.facetGroupCollapsed">
          <div class="section-content animate-max-height-variable" id="external-search">
               <div ng-repeat="target in targets" aria-live="polite" class="md-chip animate-opacity-and-scale facet-element-marker-local4">
                    <div class="md-chip-content layout-row" role="button" tabindex="0">
                         <strong dir="auto" title="{{ target.name }}">
                              <a ng-href="{{ target.url + target.mapping(queries, filters) }}" target="_blank">
                                   <img ng-src="{{ target.img }}" width="40" height="40"/> {{ target.name }}
                              </a>
                              <span class="desc">{{target.desc}}</span>
                         </strong>
                    </div>
               </div>
          </div>
     </div>
</div>